---
pagination:
  data: states
  size: 1
  alias: state
permalink: "/states/{{ state.name | slug }}/"
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- description -->
    <meta name="description"
        content="FINDOXYGEN connect buyers with sellers, no email id, account information needed. It's an initative to help people suffereing from pandemic.
  We only help people by connecting them with supplier, price of the oxygen cylinder should be discussed by buyer and seller.">
    <!-- keywords -->
    <meta name="keywords" content="oxygen, health, pandemic, covid-19,covid,coronavirus">
    <!-- google fonts -->
    <!-- connect to domain of font files -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- optionally increase loading priority -->
    <link rel="preload" as="style"
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap">
    <link rel="preload" as="style"
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap">

    <!-- async CSS -->
    <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');"
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap">
    <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');"
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap">

    <!-- no-JS fallback -->
    <noscript>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap">
    </noscript>
    <!-- custom logo in title page -->
    <link rel="icon" href="/images/favicon.png" media="print" />
    <!-- css -->
    <link rel="stylesheet" href="/CSS/database.css" />
    <title>{{ state.name }}</title>
</head>

<body>
    <nav id="navbar">
        <div class="nav-container">
             <a href="/index.html" class = "logo">
                <h2 class = "font-rale">FINDO2</h2>
            </a>
            <ul class="nav-ul">
                <li><a href="/index.html">HOME</a></li>
                <li><a href="/pages/supplier/index.html">SUPPLIER</a></li>
                <li><a href="/pages/donate/index.html">DONATE</a></li>
                <li><a href="https://webdrip.in/contact/" target="_blank">CONTACT US</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </nav>

    <!-- search bar -->

    <main>
        <div id = "data-header"> 
            <div>
                <h1>Available Supplier.</h1>
                <p>We only help people by connecting them with supplier, price of the oxygen cylinder and transportation costs should be discussed by buyer and seller. </br> Beware of scams! if you find some degenerate scamming, give us his name by filling the contact form we will remove them from the website</p>
            </div>
            <input type="search" placeholder="Search nearest city" id="search" class="search">
        </div>    
        <table data-drive="{{ state.id }}">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Person</th>
                    <th>Contact</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody class="list">
                <tr>
                    <td span="4">Loading…</td>
                </tr>
            </tbody>
        </table>
    </main>
    <script type="module" src="/src/Javascript/table.js"></script>
    <script type="module" src="/src/Javascript/script.js"></script>
    {{content | safe}}
</body>

</html>
